# Precompiled Headers
*.gch

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.exe

# Output and result files
*.out
*.dat
*.png
*.memcheck

# Necessary evils
*.mps
*.lp
*.kate-swp
*~
