# Precompiled Headers.
*.gch

# Compiled Object files.
*.o

# Compiled Dynamic libraries.
*.so

# Compiled Static libraries.
*.a

# Executables.
*.exe

# Backups.
*.kate-swp
*~

# Output and result files.
*.out
*.dat
*.png
*.eps
*.tex
*.memcheck

# Necessary and temporary evils.
*.mps
*.lp
